{% extends 'tech_forms/base.html' %}

<title>{% block title %}Query Worklist{% endblock %}</title>


{% block content %}
<div class="wrapper">
	<div class="tech-form">
	<em> Please review the details below and contact your PACS Administrator if you need assistance. </em>
	</div>
	<div class="tech-form">
		<strong>Error Details</strong>: {{error}}

	</div>
</div>

<div class="footer">
<a href="{% url 'home' %}">Return to homepage </a>
<a style="margin-left: 10px" href= "{% url 'query_worklist' %}">Return to Query Worklist</a>
</div>


{% endblock %}