<!DOCTYPE html>
<html>
<head>
	<title>Query Worklist</title>
</head>
<body>
	<form method="POST" action="{% url 'query_worklist' %}">
		{% csrf_token %}
		{{ form }}
		
		<button type="submit" name="submit">Query Worklist</button>
	</form>


{{ study_data }}
<ul>
	<li> Patient Name:  {{ patient_name  }} </li>
	<li> Patient ID: {{ patient_id }} </li>
	<li> Accession: {{ accession }} </li>
	<li> Study Instance UID : {{ StudyInstanceUID }} </li>
	<li> Modality: {{ modality }} </li>
	<li> Study Date: {{ study_date }}</li>
	<li> Study Description: {{ study_description }} </li>


</ul>
{{ error }}

<form method="POST" action="{% url 'worklist_form_submit' %}">
	{% csrf_token %}
Tech Initials: {{ query_form.tech_initials }}
Comments: {{ query_form.comments }}
<input type="hidden" name="modality" value="{{ modality }}">
<input type="hidden" name="patient_id" value="{{ patient_id }}">
<input type="hidden" name="patient_name" value="{{ patient_name }}">
<input type="hidden" name="accession" value="{{ accession }}">
<input type="hidden" name="study_date" value="{{ study_date }}">
<input type="hidden" name="study_description" value="{{ study_description }}">
<input type="hidden" name="study_instance_uid" value="{{ StudyInstanceUID }}">
	<button type="submit" name="submit">Send to PACS</button>

<a href="{% url 'home' %}">Return to homepage </a>
</body>
</html>