{% extends 'tech_forms\base.html' %}

	<title>{% block title %}Tech Form{% endblock %}</title>


{% block content %}
<body>
<div class="header">
Technologist Form (Manual Input)
</div>
<div class="wrapper">	
	<div class="tech-form">
			<form action="{% url 'tech_form_submit' %}" method="post" novalidate>
				<div class="input-fields">
				{% csrf_token %}
				{{ form }}
				</div>
				<button class="btn" type="submit">Send to PACS </button>
			</form>
	</div>
</div>
<div class="footer">
<a href="{% url 'home' %}">Return to homepage </a>
</div>
</body>
{% endblock %}

