<!DOCTYPE html>
<html>
<head>
	<title>Server Configs</title>
	<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>
<body>

	<table>
		<tr>
			<th> Workstation AE </th>

		</tr>
		<tr>
			<td>{{ workstation_ae }} </td>

		</tr>
	</table>




<table>
<tr>
	<th>Storage Destination AE</th>
	<th>Storage Destination IP</th>
	<th>Storage Destination Port</th>
</tr>
<tr>
	<td> {{ destination_ae }} </td>
	<td> {{ destination_ip }} </td>
	<td> {{ destination_port }} </td>
</tr>

</table>


<table>
<tr>
	<th>Worklist Destination </th>
	<th>Workslist Destination IP </th>
	<th>Workslist Port </th>
</tr>
<tr>
	<td> {{ worklist_ae }} </td>
	<td> {{ worklist_ip }}  </td>
	<td> {{ worklist_port }}  </td>
</tr>

</table>
<button id="edit">Edit</button></div>

<div id="server_config">
	<form id="config_form" method='post' action="{% url 'server_config' %}">
		{% csrf_token %}
		{{ server_config_form }}
	<button type="submit" name="submit">Save</button>
	</form>
</div>


<script>
	$("#server_config").hide();



	$('#edit').on('click', function() {
		$("#edit").hide();
		$("#server_config").show();
	});

	
</script>
</body>
</html>